.feature-box {
  background-image: url("../../assets/images/banner-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 80px;
  overflow-x: hidden;
}

.feature-content {
  display: flex;
  align-items: center;
}

.feature-text {
  position: relative;
  z-index: 1;
  padding: 20px;
  color:#415161;
}

.feature-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.feature-paragraph {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .feature-box {
    height: auto;
    padding: 40px 0;
  }
}
