.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  padding-top: 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ddd;
  padding: 10px;
}

.logo h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Remove default list styles */
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

.nav-links:last-child {
  margin-bottom: 0;
}

.nav-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
}

.nav-links a svg {
  margin-right: 10px;
}
