.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  width: 50%;
  margin: auto;
}

.about-title {
  font-size: 16px;
  text-align: center;
  color: #415161;
}

.about h2 {
  margin-top: 20px;
  color: #415161;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.1;
  z-index: 2;
}

img {
  width: 100%;
}

.section-sub-title {
  font-size: 13px;
  color: #adb5bd;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
}

.section-title {
  color: #415161;
  font-size: 36px;
  font-weight: 600;
  text-align: left;
}

.description {
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
}

.about-info {
  display: flex;
  align-items: center;
  margin: 50px auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-container {
  display: flex;
  align-items: center;
}

.text-container {
  text-align: left;
}

@media (max-width: 768px) {
  .about {
    height: auto;
    padding: 50px 0;
  }

  .about::before {
    height: auto;
  }

  .about h2 {
    font-size: 30px;
  }

  .about-info {
    margin: 50px auto;
  }

  .about-content {
    margin-bottom: 20px;
  }
}
