.product-img img {
    width:100%;
    height:500px;
}
.product {
    margin: 50px auto;
}
.product-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
     text-transform: capitalize;
}
.product-details .value{
    font-size: 16px;
    font-weight:500;
    color:#333;
    position: relative;
    top:5px;
}
.product-details .price {
    border-bottom: 1px solid #808080;
    padding-bottom: 5px;
    margin: 5px 0;
    font-weight: 600;
    font-size: 18px;
}
.product-description {
    color: #808080;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    margin: 10px 0;
}
.product-rating {
    margin:10px 0;
    color: #ffb700;
    font-weight: 600;
    font-size: 16px;
}
.product-title {
    font-size:20px;
    color:#333;
    font-weight:500;
}
.product-category {
    color:#808080;
    font-size:14px;
    font-weight: 600;
    line-height: 0;
}
.button-container {
    display: flex;
    gap:20px;
    margin-top: 10px;
}